## Notebook for generating multicomponent dataset (for Chemprop)

### Random splitting

**Created on 5th April, 2022; re-modified on 31st August**

In [10]:
import warnings
warnings.filterwarnings('ignore')
import requests
#from selenium import webdriver
import os
import json
import csv
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from rdkit import Chem
import rdkit.Chem.rdMolDescriptors as MolDescriptors
import rdkit.Chem.Descriptors as Descriptors
from sklearn.model_selection import train_test_split

In [2]:
%%bash
pwd
ls -ltr

/Users/riteshkumar/Library/CloudStorage/Box-Box/Research-postdoc/liquid-electrolyte-ML/2022-01-24/ionic-conductivity_2.0/chemprop/multicomp-dataset/2D-feat/random-split
total 4168
drwx------  20 riteshkumar  staff     640 Aug 30 13:21 old-hyp-wo-mw-salt
-rw-r--r--@  1 riteshkumar  staff  728011 Aug 31 11:38 all_multi_comp.csv
-rw-r--r--@  1 riteshkumar  staff  626696 Aug 31 11:38 all_multi_comp_add.csv
-rw-r--r--@  1 riteshkumar  staff  703675 Aug 31 11:38 all_multi_comp_comb.csv
-rw-------@  1 riteshkumar  staff   66304 Aug 31 11:38 split_dataset.ipynb

In [3]:
df = pd.read_csv('all_multi_comp.csv')
df

,solv_1_sm,solv_2_sm,solv_3_sm,solv_4_sm,salt_sm,conductivity_log
0,O=C1OCCO1,COC(=O)OC,NaN,NaN,[Li+].F[P-](F)(F)(F)(F)F,2.459589
1,O=C1OCCO1,CCCCOC(=O)OC,NaN,NaN,[Li+].F[P-](F)(F)(F)(F)F,1.774952
2,O=C1OCCO1,CC(C)COC(=O)OC,NaN,NaN,[Li+].F[P-](F)(F)(F)(F)F,1.686399
3,O=C1OCCO1,CCC(C)OC(=O)OC,NaN,NaN,[Li+].F[P-](F)(F)(F)(F)F,1.871802
4,CCOC(=O)OCC,NaN,NaN,NaN,[Li+].C(F)(F)(F)S(=O)(=O)[N-]S(=O)(=O)C(F)(F)F,0.741937
...,...,...,...,...,...,...
10191,CS(=O)C,COCCOC,NaN,NaN,[Li+].F[P-](F)(F)(F)(F)F,1.547563
10192,CS(=O)C,COCCOC,NaN,NaN,[Li+].F[P-](F)(F)(F)(F)F,2.624669
10193,CS(=O)C,COCCOC,NaN,NaN,[Li+].F[P-](F)(F)(F)(F)F,2.772589
10194,CS(=O)C,COCCOC,NaN,NaN,[Li+].F[P-](F)(F)(F)(F)F,2.687847
10195,CS(=O)C,NaN,NaN,NaN,[Li+].C(F)(F)(F)S(=O)(=O)[N-]S(=O)(=O)C(F)(F)F,0.746688

In [4]:
cols = df.columns
cols

Index(['solv_1_sm', 'solv_2_sm', 'solv_3_sm', 'solv_4_sm', 'salt_sm',
       'conductivity_log'],
      dtype='object')

In [5]:
df_comb = pd.read_csv('all_multi_comp_comb.csv')
df_add = pd.read_csv('all_multi_comp_add.csv')

In [6]:
cols_main = ['solvent_1', 'solvent_2', 'solvent_3', 'solvent_4', 'salt_1', 'conductivity_log']
cols_add = ['conc_salt', 'temperature', 'solv_ratio_1', 'solv_ratio_2', 'solv_ratio_3', 'solv_ratio_4']

In [7]:
## My version of calculating frequency
cols = df.columns
def frequency_count():
    freq_dct = {}
    for i in range(len(df)):
        for j in range(4):
            if df[cols[j]][i] != np.nan:
                freq_dct[df[cols[j]][i]] = freq_dct.get(df[cols[j]][i],0)+1
            else:
                pass
    del freq_dct[np.nan]
    return freq_dct

frequency_count()

{'O=C1OCCO1': 2078,
 'COC(=O)OC': 581,
 'CCCCOC(=O)OC': 1,
 'CC(C)COC(=O)OC': 1,
 'CCC(C)OC(=O)OC': 1,
 'CCOC(=O)OCC': 2487,
 'CCOC(=O)OC(C)F': 14,
 'CC(OC(=O)OCC(F)(F)F)F': 11,
 'FC1COC(=O)O1': 51,
 'C1(C(OC(=O)O1)F)F': 23,
 'CCOC(=O)OC': 704,
 'FC(F)C(F)(F)COC(F)(F)C(F)F': 31,
 'C1C(OC(=O)O1)CC(C(F)(F)F)(C(F)(F)F)F': 15,
 'COC(=O)OCC(F)(F)F': 10,
 'COC(F)(C(F)(F)C(F)(F)F)C(F)(C(F)(F)F)C(F)(F)F': 5,
 'CC(OC(F)(F)C(F)C(F)(F)F)C(F)(F)C(F)C(F)(F)F': 15,
 'CC1COC(=O)O1': 5885,
 'CCOCCOCC': 55,
 'ClCCl': 94,
 'C1CCOC1': 292,
 'Cc1ccccc1': 39,
 'CC1CCCO1': 270,
 'COCCOC': 729,
 'C1COCO1': 153,
 'O=c1occo1': 10,
 'C=CCCCOCC1COC(=O)O1': 5,
 'CO[Si](CCCOCC1COC(=O)O1)(OC)OC': 5,
 'CCO[Si](CCCOCC1COC(=O)O1)(OCC)OCC': 5,
 'C[Si](C)(C)O[Si](C)(C)CCCOCC1COC(=O)O1': 5,
 'CCCC(=O)OC': 6,
 'CN1CCCC1=O': 1,
 'CCCCOCCOCCCC': 19,
 'COP(=O)(OC)OC': 5,
 'O=C1CCCO1': 415,
 'COC(=O)OCCCF': 5,
 'CCCOC(=O)OC': 21,
 'COC(=O)OCCC(F)(F)F': 5,
 'COC(=O)OCC(F)(F)C(F)F': 5,
 'COC(=O)OCC(F)(F)C(F)(F)F': 5,
 'O=C1OCC(CF)O1': 5,
 'O=C(OCF)OCF': 5,
 'COC(=O)OCF': 55,
 'COC(=O)OCCF': 19,
 'CCOC(=O)OCCF': 14,
 'CCOC(=O)OCC(F)F': 5,
 'CCOC(=O)OCC(F)(F)F': 5,
 'C[Si](C)(C)O[Si](C)(CCC1COC(=O)O1)O[Si](C)(C)C': 40,
 'C[Si](C)(C)O[Si](C)(C)CCC1COC(=O)O1': 20,
 'CCC1COC(=O)O1': 1,
 'CS(=O)C': 73,
 'C1CCOCC1': 1,
 'CC1CCC(O1)C': 12,
 'CCOC(C(C(C(F)(F)F)(F)F)(F)F)(F)F': 1,
 'COP(=O)(C)OC': 5,
 'C1C(OC(=O)O1)F': 15,
 'FC(F)(F)C(F)(F)COC(F)(F)C(F)(F)F': 20,
 'CC#N': 209,
 'CCCCCCC1COC(=O)O1': 18,
 'CCCCCCCCC1COC(=O)O1': 18,
 'CCCCCCCCCC1COC(=O)O1': 18,
 'CCCCCCCCCCC1COC(=O)O1': 18,
 'C1COC(=O)O1': 799,
 'CC(=O)OC': 168,
 'C(OC(=O)OCF)F': 10,
 'COCCOCCC#N': 5,
 'CCCC[N+]1(CCCC1)C.C(F)(F)(F)S(=O)(=O)[N-]S(=O)(=O)C(F)(F)F': 20,
 'CS(=O)(=O)C': 10,
 'COC=O': 11,
 'CC1=CC=CC=C1': 44,
 'COCOC': 108,
 'CCOC(=O)C': 415,
 'COCCOC(=O)OC': 10,
 'CCCCC1CCC(=O)O1': 3,
 'CC1CCC(=O)O1': 4,
 'CC(=O)CC(=O)OC': 1,
 'CC(=O)C(=O)OC': 1,
 'CC(=O)CCC(=O)OC': 1,
 'O=C1OCCC1F': 20,
 'O=C1CC(F)CO1': 15,
 'COC(=O)C(F)F': 5,
 'CCOC(=O)C(F)F': 5,
 'COB(OC)OC': 15,
 'N#CCCOB(OCCC#N)OCCC#N': 20,
 'CC(=O)OCCF': 10,
 'CCOC(=O)CF': 10,
 'C1CC(=O)OC1': 59,
 'C1COB(OCCOB2OCCCO2)OC1': 115,
 'C(C(C(F)F)(F)F)OC(C(F)F)(F)F': 36,
 'COC(=O)OCC(F)(F)OC(F)(F)C(F)(F)OC(F)(F)COC(=O)OC': 6,
 'COC(=O)OCC(F)(F)OC(F)(F)C(F)(F)OC(F)(F)C(F)(F)OC(F)(F)COC(=O)OC': 9,
 'COCCCOC': 4,
 'CCOCC': 16,
 'C(F)(Cl)(Cl)Cl': 14,
 'COCCOCCOC': 80,
 'CC1CCS(=O)(=O)C1': 28,
 'C(Cl)Cl': 15,
 'COCCOCCOCCOC': 193,
 'CCCS(=O)(=O)C1=CC=C(C=C1)OC': 5,
 'COC(C(C(C(F)(F)F)(F)F)(F)F)(F)F': 29,
 'COCCOCCOCCOCCOC': 128,
 'CCOP(=O)(OCC)OCC': 4,
 'C(C(F)(F)F)OCC(F)(F)F': 7,
 'COCOCC(F)(F)OC(F)(F)C(F)(F)OC(F)(F)C(F)(F)OC(F)(F)COCOC': 5,
 'COCCOCC(F)(F)OC(F)(F)C(F)(F)OC(F)(F)C(F)(F)OC(F)(F)COCCOC': 10,
 'COCCOCCOCC(F)(F)OC(F)(F)C(F)(F)OC(F)(F)C(F)(F)OC(F)(F)COCCOCCOC': 10,
 'COCOCC(F)(F)OC(F)(F)C(F)(F)OC(F)(F)COCOC': 5,
 'COCCOCC(F)(F)OC(F)(F)C(F)(F)OC(F)(F)COCCOC': 10,
 'COCCOCCOCC(F)(F)OC(F)(F)C(F)(F)OC(F)(F)COCCOCCOC': 10,
 'COCCOCCOCCOCCOCCOCCOCCOCCOCCOCCOC': 10,
 'C(C(F)(F)F)OC(OCC(F)(F)F)OCC(F)(F)F': 5,
 'COCCOCCOCCOCCOCCOCCOCCOCCOC': 5,
 'OCCOCCOCCOCCOCCOCCOCCOCCO': 5,
 'COCCOCCOCCOC(=O)OCCOCCOCCOC': 5,
 'COCCOCCOCCOCCn1cc(COCCOCCOCCOC)nn1': 5,
 'COCCOCCOCCOCc1ccc(COCCOCCOCCOC)cc1': 5,
 'COCCOCCOCCOCc1ccccc1COCCOCCOCCOC': 5,
 'COCCOCCOCCNC(=O)NCCOCCOCCOC': 5,
 'COCCOCCOCCNC(=S)NCCOCCOCCOC': 5,
 'COCCOCCOCCNC(=S)OCCOCCOCCOC': 5,
 'COCCOCCOCCOCCSCCOCCOCCOCCOC': 5,
 'COCCOCCOCCOCC1COB(B2OCC(COCCOCCOCCOC)O2)O1': 5,
 'COCCOCCOCCOCC1COB(c2ccc(B3OCC(COCCOCCOCCOC)O3)cc2)O1': 5,
 'COCCOCC(F)(F)F': 40,
 'COCCOCC(F)(F)C(F)F': 20,
 'FC(F)(F)COCCOCC(F)(F)F': 20,
 'FC(F)C(F)(F)COCCOCC(F)(F)F': 10,
 'FC(F)C(F)(F)COCCOCC(F)(F)C(F)F': 15,
 'CCOCCOC': 15,
 'COCCOCCF': 10,
 'COCCOCC(F)F': 10,
 'CCOCCOCCF': 10,
 'CCOCCOCC(F)F': 10,
 'CCOCCOCC(F)(F)F': 9,
 'COCCCCOC': 2,
 'COCC(F)(F)C(F)(F)COC': 2,
 'COCCO[Si](C)(C)C': 3,
 'COCCOCCO[Si](C)(C)C': 7,
 'COCCOCCOCCO[Si](C)(C)C': 8,
 'COCCOCCOCCOCCO[Si](C)(C)C': 2,
 'COCCOCCOCCOCCOCCO[Si](C)(C)C': 7,
 'COCCOCCOCCOCCOCCOCCOCCO[Si](C)(C)C': 2,
 'C[Si](C)(C)OCCOCCOCCO[Si](C)(C)C': 7,
 'C[Si](C)(C)OCCOCCOCCOCCO[Si](C)(C)C': 7,
 'CCCCCC': 5,
 'COCCOCCOCCC[Si](C)(F)F': 5,
 'COCCOCCOCCC[Si](C)(C)F': 5,
 'COCCOCCOCCC[Si](C)(C)C': 1,
 'COCCO[Si](C)(C)CCCC#N': 5,
 'COCCOCCO[Si](C)(C)CCCC#N': 5,
 'COCCOCCOCCO[Si](C)(C)CCCC#N': 5,
 'COCCO[Si](C)(CCC#N)OCCOC': 5,
 'COCCO[Si](CCC#N)(OCCOC)OCCOC': 5,
 'COCCOCCOCCO[Si](C)(C)CCCOCC1COC(=O)O1': 1,
 'C1=CC=C(C=C1)F': 5,
 'N#CCCCCC#N': 8,
 'N#CCCC(CC#N)C(F)(F)F': 1,
 'N#CCCOCC(F)(F)F': 6,
 'CCOCCC#N': 6,
 'N#CCC#N': 1,
 'N#CCCC#N': 6,
 'N#CCCCCCC#N': 1,
 'N#CCCCCCCC#N': 1,
 'N#CCCCCCCCCC#N': 1,
 'N#CCCCC#N': 30,
 'CCCC#N': 40,
 'CCC#N': 10,
 'C(CCC#N)CC#N': 58,
 'O=S1(=O)CCCC1': 374,
 'CS(N)(=O)=O': 15,
 'CN(C)S(=O)(=O)C': 15,
 'C(CC#N)CC#N': 1,
 'COCC#N': 1,
 'COCCC#N': 1,
 'C1CCC(=CC1)C#N': 6,
 'C1CC=C(C1)C#N': 6,
 'C[Si](C)(C)OCCC#N': 25,
 'C(CC#N)C#N': 113,
 'C1=CC=NC(=C1)C#N': 54,
 'C[N+](=O)[O-]': 9,
 'CCS(C)(=O)=O': 33,
 'CCCCS(=O)(=O)CCCC': 1,
 'CS(=O)(=O)C1=CC=CC=C1F': 1,
 'CCS(=O)(=O)C=C': 1,
 'COCCS(=O)(=O)C': 10,
 'CCS(=O)(=O)CCOC': 10,
 'CCS(=O)(=O)CCOCCOC': 10,
 'COCCS(=O)(=O)CCOC': 10,
 'CCS(=O)(=O)CCOCCOCCOC': 5,
 'CS(=O)(=O)C1CCCC1': 6,
 'CCS(=O)(=O)C1CCCC1': 9,
 'CS(=O)(=O)CC1CCCC1': 6,
 'CCS(=O)(=O)C1CCCCC1': 7,
 'CCS(=O)(=O)CC1CCCCC1': 31,
 'CS(=O)(=O)F': 5,
 'CCS(=O)(=O)C(F)(F)F': 1,
 'CS(=O)(=O)CCC(F)(F)F': 1,
 'CC(C)S(=O)(=O)C': 2,
 'CC(C)S(=O)(=O)C(F)(F)F': 1,
 'CCS(=O)(=O)C(C)C': 1,
 'CCCS(=O)(=O)CCC': 1,
 'c1ccccc1': 4,
 'CC(C)c1ccccc1': 5,
 'CCOCCOCCOCC': 10,
 'CCC1=CC=CC=C1': 10,
 'CC1=CC(=C(C=C1)C)C': 5,
 'CC1=CC(=CC=C1)C': 5,
 'CC1=CC=CC=C1C': 5,
 'CS(=O)(=O)CCOCC(F)(F)F': 10,
 'CC(C)S(=O)(=O)CCOCC(F)(F)F': 10,
 'O=S(=O)(CCOCC(F)(F)F)CC(F)(F)F': 10,
 'COS(=O)OC': 5,
 'CCOS(=O)OCC': 5}

In [9]:
y = df_comb.iloc[:,-1]
y

0        2.459589
1        1.774952
2        1.686399
3        1.871802
4        0.741937
           ...
10191    1.547563
10192    2.624669
10193    2.772589
10194    2.687847
10195    0.746688
Name: conductivity_log, Length: 10196, dtype: float64

In [12]:
rest_df_comb, test_df_comb, y_rest, y_test = train_test_split(df_comb, y, test_size=0.1, random_state=0)
test_df_comb

,solv_comb_sm,salt_sm,conductivity_log
6642,CC1COC(=O)O1.O=C1OCCO1,[Li+].F[P-](F)(F)(F)(F)F,2.063161
3424,CC1COC(=O)O1.CCOC(=O)OCC,[Li+].[B-]12(OC(=O)C(=O)O1)OC(=O)C(=O)O2,2.004640
3779,CC1COC(=O)O1.C1COC(=O)O1,[Li+].[B-]12(OC(=O)C(=O)O1)OC(=O)C(=O)O2,2.011817
7066,CC1COC(=O)O1.CCOC(=O)OCC,[Li+].[B-](F)(F)(F)F,-1.681759
176,O=C1OCCO1,[Li+].F[As-](F)(F)(F)(F)F,2.754934
...,...,...,...
7780,CC1CCCO1.O=C1OCCO1.CC1COC(=O)O1,[Li+].F[As-](F)(F)(F)(F)F,1.266948
7497,C1COB(OCCOB2OCCCO2)OC1,[Li+].[O-]Cl(=O)(=O)=O,-8.727914
5473,CC1COC(=O)O1.CCOC(=O)OCC,CC[N+](CC)(CC)CC.F[P-](F)(F)(F)(F)F,2.120264
8756,COCCOCCOCCOCCOC,[Li+].C(F)(F)(F)S(=O)(=O)[N-]S(=O)(=O)C(F)(F)F,1.079429
1455,CC1COC(=O)O1.COCCOC,[Li+].F[P-](F)(F)(F)(F)F,2.227525

In [13]:
rest_df_add, test_df_add, y_rest, y_test = train_test_split(df_add, y, test_size=0.1, random_state=0)
test_df_add

,solv_ratio_1,solv_ratio_2,solv_ratio_3,solv_ratio_4,mol_wt_solv_1,mol_wt_solv_2,mol_wt_solv_3,mol_wt_solv_4,mol_wt_salt,conc_salt,temperature
6642,0.700000,0.300000,0.000,0.0,102.031694,88.016044,0.000000,0.0,151.980186,2.004762,60.00
3424,0.400000,0.600000,0.000,0.0,102.031694,118.062994,0.000000,0.0,193.984627,0.430000,59.00
3779,0.600000,0.400000,0.000,0.0,102.031694,88.016044,0.000000,0.0,193.984627,0.480000,59.00
7066,0.600000,0.400000,0.000,0.0,102.031694,118.062994,0.000000,0.0,94.018923,2.000000,-30.00
176,1.000000,0.000000,0.000,0.0,88.016044,0.000000,0.000000,0.0,195.928020,1.000000,60.00
...,...,...,...,...,...,...,...,...,...,...,...
7780,0.750000,0.125000,0.125,0.0,86.073165,88.016044,102.031694,0.0,195.928020,1.000000,-30.00
7497,1.000000,0.000000,0.000,0.0,230.113299,0.000000,0.000000,0.0,105.964516,1.000000,30.00
5473,0.800000,0.200000,0.000,0.0,102.031694,118.062994,0.000000,0.0,275.123756,1.160764,10.00
8756,1.000000,0.000000,0.000,0.0,222.146724,0.000000,0.000000,0.0,286.933298,2.347062,50.04
1455,0.504081,0.495919,0.000,0.0,102.031694,90.068080,0.000000,0.0,151.980186,0.300000,25.00

In [14]:
train_df_comb, val_df_comb, y_train, y_val = train_test_split(rest_df_comb, y_rest, test_size=0.11, random_state=0)
train_df_comb

,solv_comb_sm,salt_sm,conductivity_log
8357,CCOCCOCCF.O=C1OCCO1,[Li+].F[P-](F)(F)(F)(F)F,1.887070
4397,CC1COC(=O)O1,[Li+].F[P-](F)(F)(F)(F)F,1.077993
4649,CC1COC(=O)O1.CCOC(=O)OCC,[Li+].F[P-](F)(F)(F)(F)F,0.362224
8266,COCCOC.COCCOCC(F)(F)C(F)F,[Li+].C(F)(F)(F)S(=O)(=O)[N-]S(=O)(=O)C(F)(F)F,1.857859
1124,CC1COC(=O)O1,[Li+].F[P-](F)(F)(F)(F)F,1.629241
...,...,...,...
102,FC(F)C(F)(F)COC(F)(F)C(F)F.COC(=O)OCC(F)(F)F.O...,[Li+].F[P-](F)(F)(F)(F)F,1.098612
1664,CCCCCCCCCC1COC(=O)O1,[Li+].C(F)(F)(F)S(=O)(=O)[O-],-3.028255
8946,COCCOCCOCCOCCOC,[Li+].C(F)(F)(F)S(=O)(=O)[N-]S(=O)(=O)C(F)(F)F,1.182280
2190,CC1COC(=O)O1.CCOC(=O)OCC,[Li+].F[P-](F)(F)(F)(F)F,2.515274
9815,O=S1(=O)CCCC1.COCCOCCOC,[Li+].F[As-](F)(F)(F)(F)F,2.070653

In [15]:
train_df_add, val_df_add, y_train, y_val = train_test_split(rest_df_add, y_rest, test_size=0.11, random_state=0)
train_df_add

,solv_ratio_1,solv_ratio_2,solv_ratio_3,solv_ratio_4,mol_wt_solv_1,mol_wt_solv_2,mol_wt_solv_3,mol_wt_solv_4,mol_wt_salt,conc_salt,temperature
8357,0.708105,0.291895,0.0,0.0,136.089958,88.016044,0.000000,0.0,151.980186,1.0000,15.0
4397,1.000000,0.000000,0.0,0.0,102.031694,0.000000,0.000000,0.0,151.980186,0.4800,-0.2
4649,0.600000,0.400000,0.0,0.0,102.031694,118.062994,0.000000,0.0,151.980186,0.4800,-29.5
8266,0.333333,0.666667,0.0,0.0,90.068080,190.061692,0.000000,0.0,286.933298,1.0000,40.0
1124,1.000000,0.000000,0.0,0.0,102.031694,0.000000,0.000000,0.0,151.980186,1.7000,25.0
...,...,...,...,...,...,...,...,...,...,...,...
102,0.200000,0.200000,0.6,0.0,232.013441,158.019079,88.016044,0.0,151.980186,1.2000,25.0
1664,1.000000,0.000000,0.0,0.0,214.156895,0.000000,0.000000,0.0,155.968029,0.3000,25.0
8946,1.000000,0.000000,0.0,0.0,222.146724,0.000000,0.000000,0.0,286.933298,1.2700,30.0
2190,0.900000,0.100000,0.0,0.0,102.031694,118.062994,0.000000,0.0,151.980186,0.6524,59.0
9815,0.600000,0.400000,0.0,0.0,120.024501,134.094294,0.000000,0.0,195.928020,1.0000,40.0

In [16]:
val_df_comb.to_csv('val_multi_comp_comb.csv', index=False)
val_df_comb

,solv_comb_sm,salt_sm,conductivity_log
1992,O=C1OCCO1.CCOC(=O)OC.CC(=O)OC,[Li+].F[P-](F)(F)(F)(F)F,2.541602
9701,CS(=O)(=O)F,[Li+].C(F)(F)(F)S(=O)(=O)[N-]S(=O)(=O)C(F)(F)F,0.576613
7558,C1COB(OCCOB2OCCCO2)OC1.C1COC(=O)O1,[Li+].[O-]Cl(=O)(=O)=O,2.271271
7189,O=C1CCCO1,[B-](C1=CC=CC=C1)(C2=CC=CC=C2)(C3=CC=CC=C3)C4=...,-1.525329
2568,CC1COC(=O)O1.CCOC(=O)OCC,[Li+].F[P-](F)(F)(F)(F)F,1.332102
...,...,...,...
1822,C1COC(=O)O1.CCOC(=O)OC.COC(=O)OC,[Li+].[B-]12(OC(=O)C(=O)O1)OC(=O)C(=O)O2,0.683489
2923,CC1COC(=O)O1,[Li+].[B-]12(OC(=O)C(=O)O1)OC(=O)C(=O)O2,1.087214
6641,CC1COC(=O)O1.O=C1OCCO1,[Li+].F[P-](F)(F)(F)(F)F,2.389038
6578,CC1COC(=O)O1.CCOC(=O)OCC,[B-](F)(F)(F)F.CC[N+](CC)(CC)CC,1.590862
5694,CC1COC(=O)O1.O=C1OCCO1,CC[N+](CC)(CC)CC.F[P-](F)(F)(F)(F)F,1.920650

In [17]:
val_df_add.to_csv('val_multi_comp_add.csv', index=False)
val_df_add

,solv_ratio_1,solv_ratio_2,solv_ratio_3,solv_ratio_4,mol_wt_solv_1,mol_wt_solv_2,mol_wt_solv_3,mol_wt_solv_4,mol_wt_salt,conc_salt,temperature
1992,0.30,0.50,0.20,0.0,88.016044,104.047344,74.036779,0.0,151.980186,1.500000,30.00000
9701,1.00,0.00,0.00,0.0,97.983779,0.000000,0.000000,0.0,286.933298,1.000000,1.73000
7558,0.25,0.75,0.00,0.0,230.113299,88.016044,0.000000,0.0,105.964516,2.500000,80.68127
7189,1.00,0.00,0.00,0.0,86.036779,0.000000,0.000000,0.0,561.450581,0.010483,25.00000
2568,0.30,0.70,0.00,0.0,102.031694,118.062994,0.000000,0.0,151.980186,2.316200,29.40000
...,...,...,...,...,...,...,...,...,...,...,...
1822,0.25,0.50,0.25,0.0,88.016044,104.047344,90.031694,0.0,193.984627,0.600000,-10.00000
2923,1.00,0.00,0.00,0.0,102.031694,0.000000,0.000000,0.0,193.984627,0.410000,19.50000
6641,0.70,0.30,0.00,0.0,102.031694,88.016044,0.000000,0.0,151.980186,1.500000,60.00000
6578,0.30,0.70,0.00,0.0,102.031694,118.062994,0.000000,0.0,217.162493,0.251163,60.00000
5694,0.80,0.20,0.00,0.0,102.031694,88.016044,0.000000,0.0,275.123756,0.226168,40.00000

In [18]:
test_df_comb.to_csv('test_multi_comp_comb.csv', index=False)

In [19]:
test_df_add.to_csv('test_multi_comp_add.csv', index=False)

In [20]:
train_df_comb.to_csv('train_multi_comp_comb.csv', index=False)

In [21]:
train_df_add.to_csv('train_multi_comp_add.csv', index=False)